<h2>Template Driven Form Validate</h2>
<hr>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div>
    Username: <input type="text" id="username" name="username" required minlength="2"
                     [(ngModel)]="form.username" #username="ngModel">
    <div class="errors" *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors.required">Name is required</div>
      <div *ngIf="username.errors.minlength">Name is too short</div>
    </div>
  </div>

  <div>
    Password: <input type="text" id="password" name="password" required
                     [(ngModel)]="form.password" #password="ngModel">
    <div class="errors" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">Password is required</div>
    </div>    
  </div>

  <div>
    Confirm password: <input type="text" id="confirmPassword" name="confirmPassword" required
                             [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel">
    <div class="errors" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
      <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
    </div>
  </div>

  <button type="submit">Submit</button> 
  <button type="button" (click)="form.reset()">Reset</button>
</form>
