<h1>Component Interaction</h1>

<hr>
<h2>0. Intercept input property changes with a setter</h2>
<app-interact name="Test"></app-interact>

<hr>
<h2>1. Parent listen for child event</h2>
<app-vote></app-vote>

<hr>
<h2>2. Parent interacts with child via local variable</h2>
<app-timer></app-timer>

<hr>
<h2>3. Parent interacts with child via @ViewChild()</h2>
<app-timer-viewchild></app-timer-viewchild>

<hr>
<h2>4. Parent and children communicate via a service()</h2>
<app-mission-control></app-mission-control>
