<h1>Dependency Injection</h1>

<h2>useClass (Class Provider)</h2>
<hr>
<use-class></use-class>

<h2>useExisting (Alias Provider)</h2>
<hr>
<use-existing></use-existing>

<h2>useValue (Value Provider)</h2>
<hr>
<div style="padding-left: 56px">
  <h3>Example 1</h3>
  <use-value></use-value>
</div>
<div style="padding-left: 56px">
  <h3>Example 2</h3>
  <use-value-2></use-value-2>
</div>

<h2>useFactory (Factory Provider)</h2>
<hr>
<div style="padding-left: 56px">
  <button (click)="showUseFactoryExample = true">Show useFactory example</button>
  <div *ngIf="showUseFactoryExample">
    The useFactory function is registered when angular start (See the log, it auto run to preferredCoursesFactory function when Angular start)
    <use-factory></use-factory>
  </div>
</div>
